<!-- <button class="btn-handler" (click)="handleClick($event)">Click</button>

<p [class.shiny]="isToggle">This text will ne shiny on click</p>
<div [style.color]="isToggle ? 'orange' : 'black'">
    this is dynamic color change
</div>
<hr />
<div [style.background]="isToggle ? 'orange' : 'black'">
    this is dynamic backround change
</div>
<hr />
<div *ngIf="isToggle">
    <div [class]="greenBackground">Toggle me</div>
    <img [attr.src]="imgUrl" />
</div>

 -->

 <input type="text" placeholder="username" #username>
 <button (click)="handleInput(username)">Handle Input</button>
 <div [style.background-color]="colorValue">test 123 {{colorValue}}</div>

 <!-- <div>[class]="["first", "second"]"> Not a ngClass </div>
 <div>[ngClass]="["first", "second"]"> Test ngClass </div>
 <div [attr.data-test123]="'test321'">This is testing of custom data attribute</div> always data infront -->